@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@layer base{
    :root{
        --dashboardClr: #243aff;
        --storeFrontClr: #243aff;
    }

    .theme-green{
        --dashboardClr: #22c55e;
        --storeFrontClr: #22c55e;
    }

    .theme-purple{
        --dashboardClr: #8a3ffc;
        --storeFrontClr: #8a3ffc;
    }

    .theme-yellow{
        --dashboardClr: #ff8a3f;
        --storeFrontClr: #ff8a3f;
    }

    .theme-black{
        --dashboardClr: #2b2b2b;
        --storeFrontClr: #2b2b2b;
    }
}

.input-field{
    @apply border border-gray-300 rounded-md shadow-sm;
}

/* customize the scroll bar in the dashboard sidebar */
::-webkit-scrollbar {
    display: none;
}

.sidebar a.active{
    @apply bg-dashboardClr text-white;
}
.dashboard thead{
    @apply bg-dashboardClr;
}
.dashboard table thead tr th{
    @apply p-3 text-left;
}

.dashboard table tbody tr td{
    @apply p-3 text-left;
}

.dashboard table tbody tr{
    @apply odd:bg-gray-100;
}

.dashboard table a{
    @apply text-blue-500 hover:underline;
}

input::placeholder{
    @apply text-gray-300;
}